<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="The Tennis Wizard">
	<listeners>
		<listener class-name="com.pc360.ttw.utility.ListenerTest"/>
	</listeners>
	<test thread-count="5" name="TTW Test Cases">
		<classes>
			<class name="com.pc360.ttw.tests.LaunchApp_Test"/>
			<class name="com.pc360.ttw.tests.Home_Test"/>
			<class name="com.pc360.ttw.tests.PremiumContent_Test"/>
			<class name="com.pc360.ttw.tests.CollegeTennisRecruitment_Test"/>
			<class name="com.pc360.ttw.tests.ExpertsConsultation_Test"/>
			<class name="com.pc360.ttw.tests.AboutUs_Test"/>
			<class name="com.pc360.ttw.tests.Blogs_Test"/>
			<class name="com.pc360.ttw.tests.ContactUs_Test"/>
		</classes>
	</test>	
</suite> 
